* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: gold;
}

.app {
  background-color: #14161a;
  color: white;
}

/* HEADER */

.toolbar {
  display: flex;
}

.title-link {
  flex: 1;
}

.title {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .title-link {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

/* BANNER */
.banner {
  padding-top: 60px;
  background-image: url(/banner2.jpg);
  height: 400px;
}

.tagline {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .tagline-1 {
    font-size: 25px;
  }
}

/* CAROUSEL */
.carousel {
  height: 200px;
  display: flex;
  align-items: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

/* COINS TABLE */
@media only screen and (max-width: 700px) {
  .coininfo-title {
    font-size: 22px;
  }
}

.row {
  background: #16171a;
  cursor: pointer;
}

.table-body :hover {
  background: #131111;
}

/* COIN PAGE */
.container {
  display: flex;
}

@media only screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .market-data {
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }
  .market-data {
    /* display: flex; */
    justify-content: space-around;
  }
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  border-right: 2px solid gray;
}

@media only screen and (max-width: 720px) {
  .sidebar {
    width: 100%;
  }
}

.market-data {
  width: 100%;
  padding: 0px 25px;
}

.heading {
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  width: 100%;
  padding: 25px;
  padding-bottom: 15;
  padding-top: 0;
}

/* COIN INFO */
.info-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  padding: 40px;
}

@media only screen and (max-width: 700px) {
  .info-container {
    width: 100%;
    margin-top: 0;
    padding: 20;
    padding-top: 0;
  }
}

/* SELECT BUTTON */
.select-button {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.select-button:hover {
  background: gold;
  color: black;
}

/* LOGIN PAGE */

.login-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-position: center;
}

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 60%;
  border-radius: 4px;
  padding: 40px;
  width: 450px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
}

.form-wrapper h2 {
  color: #fff;
  font-size: 2rem;
}

.form-wrapper form {
  margin: 25px 0 65px;
}

form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}

.form-control input {
  height: 100%;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
  background: #444;
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

form button {
  width: 100%;
  padding: 16px 0;
  font-size: 1rem;
  background: #e50914;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
}

form button:hover {
  background: #c40812;
}

.form-wrapper a {
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}

form .form-help {
  display: flex;
  justify-content: space-between;
}

form .remember-me {
  display: flex;
}

form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

form .form-help :where(label, a) {
  font-size: 0.9rem;
}

.form-wrapper p a {
  color: #fff;
}

.form-wrapper small {
  display: block;
  margin-top: 10px;
  color: #b3b3b3;
}

.form-wrapper small a {
  color: #0071eb;
}

@media (max-width: 740px) {
  .login-container::before {
    display: none;
  }

  nav,
  .form-wrapper {
    padding: 20px;
  }

  .form-wrapper {
    width: 100%;
    top: 43%;
  }

  .form-wrapper form {
    margin: 25px 0 40px;
  }
}
